{% extends 'appformularios/base.html' %}

{% block contenido %}

<ul>
    {% for producto in productos %}
        <table>
            <tr>
                <th>Nombre:</th><td>{{producto.nombre}}</td>
            </tr>
            <tr>
                <th>Descripcion:</th><td>{{producto.descripcion}}</td>
            </tr>
            <tr>
                <th>Unidad de medida:</th><td>{{producto.unidad_de_medida}}</td>
            </tr>
            <tr>
                <th>Familia:</th><td>{{producto.familia}}</td>
            </tr>
            <tr>
                <th>-----------------------</th><th>--------------------------------------</th>
            </tr>
        </table>
       
    {% endfor %}

</ul>

{% endblock %}