{% extends 'appformularios/base.html' %}

{% block contenido %}

<ul>
    {% for sucursal in sucursales %}
        <table>
            <tr>
                <th>Nombre:</th><td>{{sucursal.nombre}}</td>
            </tr>
            <tr>
                <th>Direccion:</th><td>{{sucursal.direccion}}</td>
            </tr>
            <tr>
                <th>Colonia:</th><td>{{sucursal.colonia}}</td>
            </tr>
            <tr>
                <th>Estado:</th><td>{{sucursal.estado}}</td>
            </tr>
            <tr>
                <th>Pais:</th><td>{{sucursal.pais}}</td>
            </tr>
            <tr>
                <th>Codigo Postal:</th><td>{{sucursal.codigo_postal}}</td>
            </tr>
            <tr>
                <th>-----------------------</th><th>--------------------------------------</th>
            </tr>
        </table>
       
    {% endfor %}

</ul>

{% endblock %}